.logo {
  width: 15rem;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover,
.logo:hover {
  color: blue !important;
  transform: scale(1.08);
  transition: all ease-in-out 0.5s;
}

.navbar {
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  color: rgb(63, 58, 100);
}

.hello,
.who {
  align-self: center;
}

.hello,
.who,
.authorImg {
  width: 45%;
}

.authorImg img {
  border-radius: 15px;
}

.profile {
  justify-content: space-between;
}