.logo {
  width: 15rem;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.nav-link:hover,
.logo:hover {
  color: blue !important;
  transform: scale(1.08);
  transition: all ease-in-out 0.5s;
}

.fixed-nav {
  background-color: white;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
}

.margin-top {
  margin-top: 85px;
}

h1,
h2 {
  color: rgb(63, 58, 100);
}

.hello,
.info,
.who {
  align-self: center;
}

.hello,
.who,
.authorImg {
  width: 45%;
}

.authorImg img {
  border-radius: 15px;
}

.profile {
  justify-content: space-between;
}

.heading {
  font-size: 4rem;
}

.w-35 {
  width: 35%;
}

.hover:hover {
  background-color: white !important;
  transition: all ease 0.5s;
  border: 1px solid rgb(206, 212, 218) !important;
}

.title:hover {
  color: blue !important;
}

.w-30 {
  width: 31.7%;
}

@media screen and (max-width: 991.98px) {
  .logo {
    width: 10rem;
  }

  .nav-center {
    text-align: center;
    padding: 0 35%;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem blue;
  }

  .navbar-toggler .bars {
    color: blue !important;
    border-color: blue;
  }

  .margin-top {
    margin-top: 70px;
  }

  .profile {
    justify-content: normal;
    display: block !important;
  }
  
  .authorImg,
  .hello,
  .who {
    width: 100%;
  }

  .img-footer {
    padding-top: 1rem;
  }

  .inTouchBtn {
    padding: 1rem 2rem !important;
  }

  .foot {
    display: block !important;
    text-align: center !important;
  }

  .foot .nav,
  .info .nav{
    justify-content: center !important;
    margin-top: 1rem;
  }

  .info {
    text-align: center;
  }

  .skills {
    width: 100%;
    padding: 1rem 5rem 0rem 0.5rem !important;
  }

  .my-skill {
    padding: 1rem 0rem !important;
  }

  .eduList {
    display: block !important;
    justify-content: normal;
  }

  img[alt="laptop"],
  img[alt="desktop"] {
    display: none !important;
  }

  .talk {
    width: 100%;
    text-align: center;
    margin: 0 !important;
  }

  .project-list {
    width: 100%;
    display: grid;
    margin: 0 auto;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }

  .w-30 {
    width: 100% !important;
  }
}

@media screen and (max-width: 469.98px) {
  .project-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    margin: 0 auto;
  }

  .nav-center {
    text-align: center;
  }
}